<script src="javascripts/bootstrap.min.js"></script>
<div class="Acontainer">
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#update">Update Character</a></li>
  <li><a data-toggle="tab" href="#add">Add Character</a></li>
  <li><a data-toggle="tab" href="#delete">Delete Character</a></li>
  <li><a data-toggle="tab" href="#server">Server actions</a></li>
</ul>
	<div class="tab-content">
		<div id="update" class="tab-pane fade in active">
		{{hbsObject.message}}
			{{#each hbsObject.characters}}
					<div class="charContainer">
						<h2>{{this.char_name}}</h2>
			            <img src="{{this.char_img}}" />
			            <form class="updater" oninput="x.value=(parseInt(attack.value)); y.value=parseInt(health.value); z.value=parseInt(defense.value); overall.value = Math.round((parseInt(attack.value) * 1.5) + parseInt(defense.value)+(parseInt(health.value) * .1))">
			            <input type="hidden" name="id" value="{{this.character_id}}">
			            Attack:
			            <input type="range" id="attack" name="attack" min="50" max="100" value="{{this.attack_power}}">
			            <output name="x" for="attack">{{this.attack_power}}</output>
			            Health: 
			            <input type="range" id="health" name="health" min="100" max="1000" value="{{this.health_level}}">
			            <output name="y" for="health">{{this.health_level}}</output>
			            Defense:
			            <input type="range" id="defense" name="defense" min="0" max="50" value="{{this.defense_power}}">
			            <output name="z" for="defense">{{this.defense_power}}</output>
			            Overall Power:
			            <output name="overall" for="defense">...</output>
			            <input type="submit" value="update database">
		        	</div>
	        	</form>
	        	<div class="clearfix"></div>
		    {{/each}}
		</div>
		<div id="add" class="tab-pane fade">
			<div id="newCharacter">
				<form id="add" action="newCharacter" method="post">
					Name:
					<input type="text" name="name" minlength="3" maxlength="20"><br>
					Attack:
					<input type="number" name="attack" min="10" max="100"><br>
					Health:
					<input type="number" name="health" min="100" max="500"><br>
					Defense:
					<input type="number" name="defense" min="10" max="100"><br>
					Image URL:
				   <input type='text' id="imgInp" name="image" /><br>
				   <input type="submit" value="Create Character">
				</form>
				<img id="preview" src="images/placeholder_large.jpg" alt="Preview image" style="width: 250px;" />
			</div>
		</div>
		<div id="delete" class="tab-pane fade">
			{{#each hbsObject.characters}}
					<div class="charContainer">
						<h2>{{this.char_name}}</h2>
			            <img src="{{this.char_img}}" />
			            <form action="deleteCharacter" method="POST">
			            	<input type="hidden" name="id" value="{{this.character_id}}">
			            	<input type="submit" value="Delete Character">
	        			</form>
	        	</div>
		    {{/each}}
		</div>
		<div id="server" class="tab-pane fade">
			<div class="Acontainer">
				<div class="serverModal">
					<form action="server/reset" method="post">
						Input password to reset the server and end all active games
						<input type="password" name="code">
						<input type="submit">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$("#imgInp").change(function(){
    $('#preview').attr('src', $('#imgInp').val());
});

$('.updater').submit(function(e) {
	e.preventDefault(); // avoid to execute the actual submit of the form.
	// console.log($(this).context.id.value)
    $.ajax({
           type: "POST",
           url: 'updateCharacter',
           data: $(this).serialize(), // serializes the form's elements.
           success: function(data)
           {
           	alert('Character update!')
           }
         });
});
</script>