{{!-- var hbsObject = {
	user : resOne,
	enemy : resTwo,
	userStats : pStats,
	enemyStats : eStats,
	gameWinner : winner
}; --}}

<div class="Acontainer">
	<h1>Winner!
	<div id="imageContainer"><img src="{{hbsObject.gameWinner.image}}"><h2 id="winner">{{hbsObject.gameWinner.name}}</h2></div>
	</h1>
	<div id="playerStats">
		<h2>{{hbsObject.userStats.name}}</h2>
		<div class="userInfo">
			<img src="{{hbsObject.userStats.image}}">
		</div>
		<div class="userStats">
			<div class="infoPanel wins" value="{{hbsObject.user.wins}}">Wins:<br><span id="playerWins">{{hbsObject.user.wins}}</span></div>
			<div class="infoPanel streak">Streak:<br><span id="playerStreak">{{hbsObject.user.streak}}</span></div>
			<div class="infoPanel loses">Loses:<br><span id="playerLoses">{{hbsObject.user.loses}}</span></div>
		</div>
	</div>
	<div id="enemyStats">
		<h2>{{hbsObject.enemyStats.name}}</h2>
		<div class="userInfo">
			<img src="{{hbsObject.enemyStats.image}}">
		</div>
		<div class="userStats">
			<div class="infoPanel wins">Wins:<br><span id="enemyWins">{{hbsObject.enemy.wins}}</span></div>
			<div class="infoPanel streak">Streak:<br><span id="enemyStreak">{{hbsObject.enemy.streak}}</span></div>
			<div class="infoPanel loses">Loses:<br><span id="enemyLoses">{{hbsObject.enemy.loses}}</span></div>
		</div>
	</div>
	<div style="padding: 10px 100px">
		<a id="playagain" href="/game" style="text-decoration: none;"><button class="btn btn-block btn-success">Play Again!</button></a>
	</div>
</div>