{{!-- var hbsObject = {
	user : resOne,
	enemy : resTwo,
	userStats : pStats,
	enemyStats : eStats,
	gameWinner : winner
}; --}}

<div class="Acontainer">
	<h1>Winner!
	<div id="imageContainer"><img src="{{hbsObject.gameWinner.image}}"><h2 id="winner">{{hbsObject.gameWinner.name}}</h2></div>
	</h1>
	<div id="playerStats">
		<h2>{{hbsObject.userStats.name}}</h2>
		<div class="userInfo">
			<img src="{{hbsObject.userStats.image}}">
		</div>
		<div class="userStats">
			<div class="infoPanel wins" value="{{hbsObject.user.wins}}">Wins:<br><span id="playerWins">{{hbsObject.user.wins}}</span></div>
			<div class="infoPanel streak">Streak:<br><span id="playerStreak">{{hbsObject.user.streak}}</span></div>
			<div class="infoPanel loses">Loses:<br><span id="playerLoses">{{hbsObject.user.loses}}</span></div>
		</div>
	</div>
	<div id="enemyStats">
		<h2>{{hbsObject.enemyStats.name}}</h2>
		<div class="userInfo">
			<img src="{{hbsObject.enemyStats.image}}">
		</div>
		<div class="userStats">
			<div class="infoPanel wins">Wins:<br><span id="enemyWins">{{hbsObject.enemy.wins}}</span></div>
			<div class="infoPanel streak">Streak:<br><span id="enemyStreak">{{hbsObject.enemy.streak}}</span></div>
			<div class="infoPanel loses">Loses:<br><span id="enemyLoses">{{hbsObject.enemy.loses}}</span></div>
		</div>
	</div>
	<a href="/chooseCharacter"><button>Choose a new Character</button></a>
	<a href="/lobby"><button>Return to lobby</button></a>
</div>

<script type="text/javascript">
// $(document).ready(function(){ //This code is neccessary because this page is built before user table is updated. I could not devise a way around this with the time I had. Data listed will always be accurate.
// 	var gameWinner = $('#winner').text();
// 	var player = $('#playerStats h2').text();

// 	if (gameWinner == player) {
// 		var playerWins = Number($('#playerWins').text()) + 1;
// 		var playerStreak = Number($('#playerStreak').text()) + 1;
// 		var enemyLoses = Number($('#enemyLoses').text()) + 1;
// 		$('#enemyLoses').text(enemyLoses)
// 		$('#enemyStreak').text('0');
// 		$('#playerWins').text(playerWins);
// 		$('#playerStreak').text(playerStreak); 
// 	} else {
// 		var enemyWins = Number($('#enemyWins').text()) + 1;
// 		var enemyStreak = Number($('#enemyStreak').text()) + 1;
// 		var playerLoses = Number($('#playerLoses').text()) + 1;
// 		$('#playerLoses').text(playerLoses);
// 		$('#playerStreak').text('0');
// 		$('#enemyWins').text(enemyWins);
// 		$('#enemyStreak').text(enemyStreak);

// 	}
// })
</script>
<style type="text/css">
.Acontainer h1 {
	padding: 15px;
	text-align: center;
	color: white;
	margin: 10px auto;
	width: 400px;
	background-color: rgba(0,0,0,.3);
	border-radius: 35px;
}

.userStats {
	float: right;
	width: 400px;
	padding: 10px 20px;
}

.userInfo {
	float: left;
	width: 280px;
	padding:0px 0px

}

.userInfo img {
	width: 130px;
	border-radius: 10px;
	margin-top: 25px;
}
#imageContainer img {
	width: 250px;
	border-radius: 25px;
}

#imageContainer {
	margin: 10px auto;
	width: 250px;
}

#playerStats, #enemyStats {
	width: 700px;
	height: 180px;
	margin: 10px auto;
	background-color: rgba(0,0,0,.3);
	text-align: center;
	color: white;
	box-shadow: 0px 0px 15px 5px black inset;
}

#playerStats h2, #enemyStats h2 {
	float: right;
	width: 400px;
	margin: 5px;
}
.infoPanel {
	display: inline-block;
	width: 100px;
	background-color: rgba(0,0,0,.3);
	height: 100px;
	border-radius: 10px;
	margin: 0 10px;
	font-size: 1.5em;
	padding-top: 10px;
}

.wins {
	float: left;
}

.loses {
	float: right;
}


</style>